.calculator-container {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden !important;
}
.calculator-holder {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden !important;
}
.calculator-sidebar-holder {
  background-color: rgba(255, 255, 255, 0);
  min-width: 130px;
  max-width: 130px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calculator-sidebar-holder-inner {
  background-color: rgba(255, 255, 255, 0);
  width: 60%;
  height: 85%;
  transition: transform 0.5s ease;
  border-radius: 15px;
  background: linear-gradient(to bottom, #061d21, #001113);
  box-shadow: 0 0px 10px rgb(0, 180, 165) !important;
}
.calculator-sidebar-holder-inner:hover {
  transform: scale(1.03);
}

.calculator-content-holder {
  background-color: rgba(255, 0, 0, 0);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}
.calculator-content-holder-inner {
  background-color: rgba(0, 0, 255, 0);
  /* min-width: 80%;
  max-width: 80%; */
  min-width: 1050px;
  max-width: 1050px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  /* overflow-y: auto !important; */
}

.calculator-content-holder-inner-sub {
  background-color: rgb(212, 0, 255, 0);
  width: 92%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #00090a, #061d21);
  transition: transform 0.5s ease;
  border-radius: 15px;
  box-shadow: 0 0px 30px rgb(0, 180, 165) !important;
  overflow-y: auto !important;
  overflow-x: hidden;
}

.calculator-content-holder-inner-sub:hover {
  transform: scale(1.03);
}



/* 
.calculator-container {
    height: 90vh;
    width: 100%;
    color: white;
    position: relative;
    flex-grow: 1;
    top: 0px;
    background-color: rgba(151, 63, 63, 0);
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    text-align: left;
  }
  
  .calculator-title {
    margin-top: 0px;
    margin-right: 1%;
    padding-left: 0.3%;
    font-size: 24px;
    background-color: rgba(93, 61, 61, 0) !important;
    width: 100%;
  }
  
  .calculator-holder {
    background-color: rgba(5, 106, 72, 0);
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 30px;
    height: 100%;
    width: 100% !important;
    overflow: hidden;
  }
  
  
  .calculator-sidebar-holder {
    background: linear-gradient(to bottom, #061d21, #001113);
    width: 70px;
    height: 600px !important;
    transition: transform 0.3s ease;
    border-radius: 15px;
    margin-left: 15px;
    position: relative;
    box-shadow: 0 0px 10px rgb(0, 180, 165) !important;
  }
  
  .calculator-content-holder {
    background: linear-gradient(to right, #00090a, #061d21);
    flex-grow: 1;
    position: relative;
    max-width: 75% !important;
    margin-right: 15px;
    height: 600px;
    transition: transform 0.5s ease;
    border-radius: 20px;
    box-shadow: 0 0px 30px rgb(0, 180, 165) !important;
    overflow-y: auto;
  }

  .calculator-content-holder:hover {
    transform: scale(1.04);
  }
  
  .calculator-tabs {
    background-color: rgba(147, 147, 147, 0);
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    height: 225px;
  } */