.math-field {
    min-height: 20px;
    overflow: auto !important;
    background-color: rgba(32, 61, 63, 0);
    color: rgb(255, 255, 255);
    padding-left: 13px;
    padding-right: 45px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 26px !important;
    border: 0px solid white !important;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(4, 113, 99, 0.5);
    transition: transform 0.3s ease-in-out;
    font-size: 16px;
    z-index: 0;
    text-align: left;
  }



  .math-field:active{
    outline: none;
    box-shadow: 0px 0px 30px rgb(0, 238, 255) !important;
  }
  
  .math-field:focus {
    outline: 2px solid red !important;
  }
  
  .mq-cursor {
    border-color: rgb(255, 255, 255) !important;
  }
   input:focus {
    outline: none !important;
  }

  .field-input-area {
    position: relative; /* Add this */
  }
  
  .placeholder-field {
    position: absolute; /* Change to absolute */
    top: 50%; /* Adjust as needed */
    left: 1.5%; /* Adjust as needed */
    transform: translateY(-50%); /* Vertically center */
    z-index: 0;
    text-align: left;
    justify-content: center;
    color: gray;
  }

  .clear-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    width: 4%;
    height: 36px;
    position: relative;
    justify-content: right !important;
    border: 0;
    margin-right: 1%;
    margin-left: 0%;
    top: 0%;

    position: absolute;
    right: 1%; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .clear-button:hover{
    border: 0.5px solid rgba(128, 128, 128, 0);
  }
  .clear-button:active{
    background-color: rgba(0, 87, 104, 0.158);
  }
  .clear-button img {
    width: 16px !important;
    height: 16px !important;
    vertical-align: middle;
  }
  

  .clear-button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    right: 0.5% !important;
  }

  .math-field{
    width: 100% !important;
  }
  .edit-field {
    display: flex;
    flex-direction: row;
    gap: 0px;
    background-color: rgba(255, 255, 255, 0);
  }