.calculator-tab-buttons {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .calculator-tab-buttons button {
    flex: 1;
    padding: 10px;
    background-color: rgba(4, 141, 136, 0.48);
    color: white !important;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .calculator-tab-buttons button.active {
    background-color: rgba(0, 154, 164, 0.55);
  }
  .calculator-tab-buttons button:hover {
    background-color: rgba(0, 153, 164, 0);
    box-shadow: 0 0px 5px rgb(0, 180, 165) !important;
    border: 0px solid gray;
  }
  
  .calculator-tab-content {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.041);
    overflow-y: auto;
    width: 99%;
    color: white !important;
    height: 180px;
  }
  
  .calculator-button-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 5px;
    color: white;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    margin-left: -3.4%;
    margin-right: 0.5%;
    background-color: rgba(160, 160, 160, 0);
    overflow-y: auto !important;
  }
  
  .calculator-button {
    padding: 9px;
    width: 70px;
    height: 45px;
    color: white;
    font-size: 18px;
    background-color: hsla(187, 100%, 21%, 0.59);
    border: 0.1px solid rgba(255, 255, 255, 0.497);
    border-radius: 5px;
    cursor: pointer;
  }
  .calculator-button:hover {
    background-color: rgba(0, 95, 107, 0);
    box-shadow: 0 0px 5px rgb(0, 180, 165) !important;
    border: 0px solid gray;
  }

  .calculator-tab-content{
    overflow-y: auto;
  }
  
  .separator-line {
    width: 100%;
    border-top: 1px solid black; /* Adjust the color and style as needed */
    margin: 5px 0; /* Adjust the margin as needed */
  }
  



@media (max-width: 575px) {
  .calculator-tab-buttons button {
    flex: 2;
    padding: 3px;
    font-size: 15px;
  }
}



@media (min-width: 576px) {
  .calculator-tab-buttons button {
    flex: 2;
    padding: 8px;
    font-size: 15px;
  }
}